.custom-scroll {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  padding-right: 8px; /* 스크롤바 너비만큼 여백 추가 */
}

.custom-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.custom-scroll:hover {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 transparent; /* Firefox */
}

.custom-scroll:hover::-webkit-scrollbar {
  display: block;
  width: 8px; /* 스크롤바 너비 */
}

.custom-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바 색상 */
  border-radius: 4px; /* 둥근 모서리 */
}

.custom-scroll:hover::-webkit-scrollbar-track {
  background: transparent; /* 트랙 배경 투명 */
}
