#root {
  max-width: 1280px;
  margin: 6rem auto 0; 
  padding: 2rem;
  text-align: center;
  
}

.diamond-text {
  font-size: 3rem;
  background: linear-gradient(135deg, #68B8FF, #1A2A6C, #68B8FF); /* 그라데이션 색상 */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  transform: rotate(45deg); /* 다이아몬드 형태로 회전 */
}

.truncate-text {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
 width: 90%; /* 고정 너비 설정 */

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



